.divImg {
  margin: 0px;
  height: 100vh;
  object-fit: scale-down;
  background-size: auto;
}

.FormLogin {
  position: absolute;
  top: 120px;
  left: 180px;
  right: 180px;
}

.form-card {
  border: 0px;
  border-radius: 20px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  float: none;
  margin-bottom: 10px;
  text-align: center;
  /* background-color: rgb(245, 245, 245); */
  color: rgb(255, 255, 255);
}

mat-form-field {
  text-align: center;
  margin: 0 auto;
  float: none;
  display: flex;
  flex-direction: column;
}

/* .mat-card {
  background: #aedddf;
  color: rgb(42, 43, 42);
} */

/* .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgb(101, 98, 243);
} */

