<mat-card class="form-card">
  <mat-card-title>Update password</mat-card-title>
  <mat-divider inset></mat-divider>
  <mat-card-content style="margin-top: 20px">
    <form action="/action_page.php" [formGroup]="update_form" (ngSubmit)="updateLoginDetails()">
      <!-- Current Password Input -->
      <mat-form-field
        class="reason-input"
        appearance="fill"
        style="margin-top: 20px"
      >
        <mat-label>Enter current password</mat-label>
        <input
          matInput
          placeholder="eg: Password@123"
          [(ngModel)]="updatePassword.currentPassword"
          formControlName="currentPassword"
        />
      </mat-form-field>
      <span
        *ngIf="oldPassword && oldPassword.invalid && oldPassword.touched"
        ></span
      >

      <!-- New Password Input -->
      <mat-form-field
        class="reason-input"
        appearance="fill"
        style="margin-top: 20px"
      >
        <mat-label>Enter new password</mat-label>
        <input
          matInput
          placeholder="eg: Password@123"
          [(ngModel)]="updatePassword.newPassword"
          formControlName="newPassword"
          (click)="rowItems(employee)"
        />
      </mat-form-field>
      <span
        *ngIf="newPassword && newPassword.invalid && newPassword.touched"
        ></span
      >

      <!-- LoginId Input -->
      <mat-form-field
        class="employeeid-input"
        appearance="fill"
        style="margin-top: 20px"
        [hidden]="true"
      >
        <mat-label>Login Id</mat-label>
        <input
          matInput
          placeholder="Ex. 184"
          [(ngModel)]="updatePassword.loginId"
          [ngModel]="update_form.value.loginId"
          formControlName="loginId"
        />
      </mat-form-field>
      <span
        *ngIf="loginId && loginId.invalid && loginId.touched"
        ></span
      >

    </form>

    <mat-divider inset></mat-divider>

    <!-- Button to submit -->
    <mat-card-actions>
      <button
        mat-button
        type="submit"
        [disabled]="update_form.invalid"
        (click)="updateLoginDetails()"
      >
        Submit
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<!-- For Login page <CONSTRUCTION ZONE! STAY ALERT> -->

